n8n-node/examples/basic-workflow.json
{
  "name": "WordPress Auto-Tagging - Basic Example",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$credentials.wpUrl}}/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "publish"
              },
              {
                "name": "per_page",
                "value": "10"
              },
              {
                "name": "_fields",
                "value": "id,title,content,tags"
              }
            ]
          }
        }
      },
      "id": "get-posts",
      "name": "Get Recent Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "wp-credentials",
          "name": "WordPress API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tags.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-untagged",
      "name": "Filter Untagged Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "autoTag",
        "postId": "={{ $json.id }}",
        "title": "={{ $json.title.rendered }}",
        "content": "={{ $json.content.rendered.substring(0, 1000) }}"
      },
      "id": "auto-tag",
      "name": "WordPress Auto-Tagger",
      "type": "n8n-nodes-wordpress-auto-tagger.wordPressAutoTagger",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "wordPressAutoTaggerApi": {
          "id": "wp-auto-tagger-credentials",
          "name": "WordPress Auto-Tagger API"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Recent Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Posts": {
      "main": [
        [
          {
            "node": "Filter Untagged Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Untagged Posts": {
      "main": [
        [
          {
            "node": "WordPress Auto-Tagger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "wordpress-auto-tagging-basic",
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "wordpress-automation",
      "name": "WordPress Automation"
    }
  ]
}